In [10]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
import pandas as pd

In [13]:
file= 'DATOS.csv'
data= pd.read_csv(file, header=None)
data

        0            1
0   ﻿1970   56500.0000
1    1971   49600.0000
2    1972   64800.0000
3    1973   91200.0000
4    1974  101600.0000
5    1975  112100.0000
6    1976  115300.0000
7    1977  111900.0000
8    1978  115200.0000
9    1979  129300.0000
10   1980  177100.0000
11   1981  151800.0000
12   1982  144800.0000
13   1983  202300.0000
14   1984  200700.0000
15   1985  204600.0000
16   1986  187100.0000
17   1987  189000.0000
18   1988  141400.0000
19   1989  152200.0000
20   1990  177300.0000
21   1991  189300.0000
22   1992  228400.0000
23   1993  246600.0000
24   1994  272100.0000
25   1995  225100.0000
26   1996  222700.0000
27   1997  264100.0000
28   1998  292100.0000
29   1999  328300.0000
30   2000  290412.0000
31   2001  292208.0000
32   2002  278456.0000
33   2003  287017.0000
34   2004  330441.0000
35   2005  331225.0000
36   2006  317856.0000
37   2007  309633.0000
38   2008  266244.0000
39   2009  222356.0000
40   2010  445796.0330
41   2011  386063.9941
42   2012  415279.8230
43   2013  435792.0900
44   2014  457921.9070
45   2015  508614.0000